# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=YOUR_ACCOUNT_NAME;AccountKey=YOUR_ACCOUNT_KEY;EndpointSuffix=core.windows.net

# Road Closures API
ROAD_CLOSURES_API_KEY = YOUR_API_KEY
ROAD_CLOSURES_URL = "https://api.data.nationalhighways.co.uk/roads/v2.0/closures"

# REAL-TIME FEEDS CONFIG
REAL_TIME_FEEDS_TOPIC = YOUR_TOPIC_NAME
REAL_TIME_FEEDS_GROUP_ID = YOUR_GROUP_ID

# TRAIN MOMENTS CONFIG
TRAIN_MOMENTS_TOPIC = YOUR_TOPIC_NAME
TRAIN_MOMENTS_GROUP_ID = YOUR_GROUP_ID

# Kafka Config
KAFKA_BOOTSTRAP_SERVERS = YOUR_BOOTSTRAP_SERVER,
KAFKA_SECURITY_PROTOCOL = SASL_SSL
KAFKA_SASL_MECHANISM = PLAIN
KAFKA_SASL_USERNAME = YOUR_USERNAME
KAFKA_SASL_PASSWORD = YOUR_PASSWORD
KAFKA_AUTO_OFFSET_RESET = earliest
